server:
  port: 8086

spring:
  application:
    name: groupservice
  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB:lms_db}
    username: ${POSTGRES_USER:lms_user}
    password: ${POSTGRES_PASSWORD:lms_password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: UTC

  jackson:
    time-zone: UTC

management:
  endpoints:
    web:
      exposure:
        include: health,info,mappings
      base-path: /actuator
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

auth:
  tokens:
    secret: ${JWT_SECRET:mysuperlongsecretkey_for_docker_12345678901234567890}

logging:
  level:
    org.springframework.web: INFO
