server:
  port: 8084

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB:lms_db}
    username: ${POSTGRES_USER:lms_user}
    password: ${POSTGRES_PASSWORD:lms_password}

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  jackson:
    time-zone: UTC

  sql:
    init:
      mode: never

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

auth:
  tokens:
    issuer: http://authservice:${server.port}
    access:
      ttl: 15m
    refresh:
      ttl: 14d
    audience: lms-api
    secret: ${JWT_SECRET:mysuperlongsecretkey_for_docker_12345678901234567890}

  userservice:
    base-url: http://userservice:8082

logging:
  level:
    org.springframework.security: INFO
    org.springframework.web: INFO
